.about-us, .reference-list, .dovira-div {
    padding: 10px;
    background: #cfcfcf;
    font-family: monospace;
    font-size: 20px;
    transition: .3s linear;
    margin-bottom: 40px;
    word-break: break-word;
}
.hidden-desktop {
    opacity: 0;
    transform: scale(0.3);
}
.hidden-mobile {
    opacity: 0;
    transform: rotateZ(180deg);
}