.gallery {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.gallery img {
    width: calc(100%);
}
@media screen and (max-width: 500px) {
    .gallery {
        display: none;
    }
}