div#suneditor_sample {
    width: 100% !important;
    height: 98% !important;
}
.se-wrapper {
    height: 98% !important;
}
.se-wrapper-inner.se-wrapper-wysiwyg.sun-editor-editable {
    height: auto !important;
}
.stop {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 300;
    background: radial-gradient(#222922, #000500);
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    overflow: hidden;
    padding: 30px 0 0 30px;
    text-align: center;
}
.webcontent {
    height: 100%;
}

.webcontent.hide {
    display: none;
}

.word {
    bottom: 0;
    color: #fff;
    font-size: 2.5em;
    height: 2.5em;
    left: 0;
    line-height: 2.5em;
    margin: auto;
    right: 0;
    position: absolute;
    text-shadow: 0 0 10px rgba(50, 255, 50, 0.5), 0 0 5px rgba(100, 255, 100, 0.5);
    top: 0
}

.word span {
    display: inline-block;
    transform: translateX(100%) scale(0.9);
    transition: transform 500ms;
}

.word .done {
    color: #6f6;
    transform: translateX(0) scale(1);
}

.overlay {
    background-image: linear-gradient(transparent 0%, rgba(10, 16, 10, 0.5) 50%);
    background-size: 1000px 2px;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
access {
    color: lime;
    font-size: 42px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: ui-sans-serif;
    user-select: none;
}
linka {
    font-size: 25px;
    display: flex;
    cursor: pointer;
    justify-content: center;
}

linka:hover {
    background: #00000066;
    color: #00ff008f;
}
button#save {
    position: fixed;
    z-index: 3;
    bottom: 20px;
    margin-left: 20px;
    background: #eb870d;
    border: none;
    cursor: pointer;
    font-size: 25px;
    color: white;
}
.newitem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background: #eb870d;
    cursor: pointer;
    user-select: none;
    position: relative;
    margin: auto;
    padding-top: 4px;
    padding-bottom: 4px;
    color: white;
    font-size: 26px;
    padding-left: 10px;
    padding-right: 10px;
}

img.addicns {
    width: 30px;
    pointer-events: none;
    user-select: none;
    margin-right: 10px;
}

input#nameprod {
    font-size: 20px;
    outline: none;
    position: relative;
    margin: auto;
    display: block;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 40%;
    background: transparent;
    border: none;
    border-bottom: 2px #eb870d solid;
}
.editor {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(0px, -50%);
}

.newitem:first-child {
    margin-bottom: 10px;
}
.items {
    position: absolute;
    background: #bf6e0c;
    top: 0px;
    z-index: 1;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    height: 0;
    transition: .2s linear;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.items.show {
    height: 62px;
    box-shadow: 0px 6px 3px 0px black;
}
span.subitem {
    display: block;
}
span.subitem:hover {
    text-shadow: 0 0 1px black;
    color: transparent;
}

.list-prods {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background: #8fb88e;
    user-select: none;
    padding: 10px;
    max-height: 64%;
    overflow-y: auto;
    overflow-x: hidden;
    word-break: break-word;
    box-shadow: 0px 0px 20px 3px;
}

itemlist.itemlist {
    display: flex;
    font-size: 25px;
    cursor: pointer;
    align-items: center;
}

itemlist.itemlist::before {
    content: "⦿";
    color: white;
    margin-right: 10px;
}

itemlist.itemlist:hover {
    background: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
itemlist.itemlist:hover::before, .selected::before {
    content: "⦿" !important;
    color: #8fb88e !important;
    margin-right: 10px !important;
}

.controls {
    position: sticky;
    bottom: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
@media only screen and (max-width: 600px) {
    .controls {
        flex-direction: column;
        align-items: stretch;
    }
    .controls button:not(:last-child) {
        margin-bottom: 5px;
    }
}
@media only screen and (min-width: 600px) {
    .list-prods {
        width: 30%;
    }
    .editcateg, .delcateg {
        display: none;
    }
}

.controls button {
    font-size: 24px;
    background: #eb870d;
    color: white;
    cursor: pointer;
}

button.disabled {
    pointer-events: none;
    background: #ffc783;
}
.selected {
    background: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.cr {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: calc(10px);
    background: white;
}
.cr.showed {
    opacity: 1;
    pointer-events: auto;
    text-align: right;
    position: absolute;
    right: 0px;
}
span.cr img {
    width: 20px;
}
itemlist.itemlist:hover .cr {
    opacity: 1;
    pointer-events: auto;
}
.cr img:hover {
    transform: scale(1.5);
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #258122a3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #258122a3;
}